{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }} | Ajouter des photos
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.filename) }}
    <button type="submit" class="btn btn-success">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}
