{% extends 'base.html.twig' %}

{% block title %}Hello TrickController!
{% endblock %}

{% block body %}
	{% for trick in tricks %}
		<h1>{{ trick.name }}</h1>
		<p>{{ trick.content }}</p>
		<a href="{{ path('trick_show', {'slug': trick.slug}) }}" class="btn btn-primary">Details</a>
	{% endfor %}
{% endblock %}
